@use 'helpers' as *;

body {

  @include fluid-text(18, 24);

  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
  color: var(--color-light);
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3, {
  font-family: var(--font-family-accent);
}
