/* Error: expected ")".
 *    ,
 * 21 |   --container-padding-x: #{rem(16};
 *    |                                  ^
 *    '
 *   styles/_variables.scss 21:34  @use
 *   styles/main.scss 3:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 21 \2502    --container-padding-x: #{rem(16};\a    \2502                                   ^\a    \2575 \a   styles/_variables.scss 21:34  @use\a   styles/main.scss 3:1          root stylesheet';
}
